* {margin: 0; padding: 0; box-sizing: border-box;}
.block {display: block;}
.container {width: 1000px; height: 500px; border: 3px solid #000;}
#canvas {border: 1px solid #000;}
.box {width: 150px; height: 150px; border: 2px solid #000; text-align: center;}
.img {width: 90px;}
.bottom {display: flex;}